<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <![endif]-->
<head>z
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>File for Grants</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Domine:400,700|Lato:300,400,700,700italic,300italic' rel='stylesheet' type='text/css'>
	<link rel="manifest" href="/manifest.json">
  <script type="text/javascript">
	  (function(document, window){
		  var script = document.createElement("script");
		  script.type = "text/javascript";
		  script.src = "https://api.pushnami.com/scripts/v1/pushnami-adv/5ddc444e59b0610011cc105c";
		  script.onload = function() {
			  Pushnami
				  .update()
				  .prompt()
		    };
		  document.getElementsByTagName("head")[0].appendChild(script);
    })(document, window);
	</script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138874838-6"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-138874838-6');
	</script>

	<style>
	
	#nitroMask{
		z-index:99999;
	}
				
	@media only screen and (min-width: 425px) {
		#nitroMask{
			height: 50%;
			width: 50%;
		}
	}
	</style>
</head>
<body>
	
	<!--[if IE ]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a>  to improve your experience.</p>
<![endif]-->
	
	<!-- Page Wrapper -->
	<div class="page-wrapper">
		
		<div class="masthead">
			<div class="wrapper">
				<div class="logo icon-logo" data-grunticon-embed>
					<img src="/img/logo.svg"/>
				</div>
			</div>
		</div>
		
		
		
	</div><!-- END .page-wrapper -->
	
	<article id="page">
		
		<div class="wrapper">
			
			<div class="content-wrapper">
				
				<!-- Content area -->
				<div class="content content-lp">
					<hgroup>
						<h1>Need Help?</h1>
						<h2>Don't miss out on Grant Money!</h2>
					</hgroup>
					
					<div class="sm-form"></div>
					
					<section class="intro">
						<p>All American citizens and residents can apply and are eligible to receive Federal Government, State Government and Private Foundation funded grants and loans. Remember, these programs do not require credit checks, collateral, security deposits or co-signers. Even if you have declared a bankruptcy or currently have bad credit, as a tax payer and U.S. citizen or resident, you are entitled to apply for this money!</p>
						<p>Right now, you may be eligible to receive grant money that you would NEVER HAVE TO REPAY.</p>
					</section><!-- END .intro -->
					
					
					<section class="features">
						<h2>Why Use FileforGrants.com?</h2>
						
						<div class="feature">
							<div class="icon icon-icon-computer" data-grunticon-embed>
								<img src="/img/icons/icon-computer.svg"/>
								
							</div>
							<h3>File For Grants Online</h3>
							<p>The fastest and most convenient way to seek and apply for grants.</p>
						</div>
						<div class="feature">
							<div class="icon icon-icon-guide" data-grunticon-embed>
								<img src="/img/icons/icon-guide.svg"/>
								
								
							</div>
							<h3>The Grant Approval Guide</h3>
							<p>A step by step grant approval guide offered at no cost to users who use our service.</p>
						</div>
						<div class="feature">
							<div class="icon icon-icon-resources" data-grunticon-embed>
								<img src="/img/icons/icon-resources.svg"/>
								
							</div>
							<h3>Free Grant Resources</h3>
							<p>Search for Grants, job market information, education and training programs, job placement services and much more!</p>
						</div>
					</section><!-- END .features -->
					
				</div><!-- END .content -->
				
				<!-- Form Wrapper -->
				<div class="form-wrapper" style="box-shadow:none;background:none;">
					<div id='leadresponse_container'></div>
					<form class="the-main-form" method="post" id="main-form" action="/process" novalidate style="padding: 0;">
						
						<div class="form-inner">
							
							<header>
								<h2>Fill out the Form below<span class="connect"><span> to </span></span>File for&nbsp;Grants</h2>
							</header>
							
							<input type="hidden" name="__action" value="addLead" />
							<input type="hidden" id="sid" name="sid" value="<?= $user['s2']; ?>" />
							<input type="hidden" id="s2" name="s2" value="<?= $user['s2']; ?>" />
							<input type="hidden" id="pid" name="pid" value="<?= $user['pid']; ?>" />
							<input type="hidden" id="ip" name="ip" value="<?= $server['REMOTE_ADDR']; ?>">
							<input type="hidden" name="__site" value="3j37gfns" />
							<input type="hidden" name="_campaign_id" value="2" />
							<input type="hidden" name="__page" value="<?= $page['id']; ?>" />
							<input type="hidden" name="__onError" value="continue" />
							<input type="hidden" name="cr" value="">
							<input type="hidden" name="source_brand" value="File For Grants" />
							<input type="hidden" name="geoip_region_code" value="{%= geoIpData.regionCode %}">
							<input type="hidden" name="geoip_country_code" value="{%= geoIpData.countryCode %}">
							<input type="hidden" name="geoip_time_zone" value="{%= geoIpData.timeZone %}">

							<fieldset>
								<ol>
									<li class="form-holder">
										<label for="first_name">First Name</label>
										<input name="first_name" class="" id="first_name" value="<?= $this->escape($user['first_name']); ?>" required>
									</li>
									<li class="form-holder">
										<label for="last_name">Last Name</label>
										<input name="last_name" class="" id="last_name" value="<?= $this->escape($user['last_name']); ?>" required>
									</li>
									<li class="form-holder">
										<label for="email_address">Email Address</label>
										<input type="email" name="email" class="" id="email" value="<?= $this->escape($user['email']); ?>" required>
									</li>
									<li class="form-holder">
                                        <input type="checkbox" id="offsite-post" name="offsite-post" value="1">
                                        <div class="legal">
                                            <p>Looking for Federal Aid? Send me more info on how to get help.</p>
                                        </div>
                                    </li>
									<!--
									<br>
									<li class="form-holder">
                                        <input type="checkbox" id="offsite-post-2" name="offsite-post-2" value="1" style="float: left; margin-bottom: 0; margin-right: .5em;">
                                        <div class="legal">
                                            <p>Click Here to receive daily trivia questions from Travel Trivia.</p>
                                        </div>
                                    </li>
									-->
								</ol>
								<div class="button-holder">
									<button class="primary-cta form-submit">Sign Up</button>
								</div>
								<div class="legal">
									<p style='font-size: .9rem'>By submitting, I agree to the <a class='modalpop' target='_blank' href='/privacy'>Privacy Policy</a> and to receive email newsletters from File For Grants.</p>
								</div>
								
							</fieldset>
							
						</div><!-- END .form-inner -->
						
						<div class="security">
							<div class="icon icon-icon-shield" data-grunticon-embed>
								<img src="/img/icons/icon-shield.svg"/>
							</div>
						</div>
						
					</form><!-- END #main-form -->
					
					
					
				</div><!-- END .form-wrapper -->
				
			</div><!-- END .content-wrapper -->
			
			<footer id="primary-footer">
				<p>&copy; {%= new Date.format('YYYY') %} FileForGrants.com | <a href="/privacy">Privacy Policy</a></p>
			</footer>
			
		</div><!-- END .wrapper -->
		
	</article><!-- END #page -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
$('select[name=pi_injury_cause]').on('change', function() {
        if ($(this).val() === 'Work Related Accident') {
            $('.wc-accident').removeClass('hidden');
            $('.mva-accident').addClass('hidden');
        } else {
            $('.wc-accident').addClass('hidden');
            $('.mva-accident').removeClass('hidden');
        }

        $('#pi-form-questions').removeClass('hidden');
    });
</script>
</body>
</html>
	
		<script defer src="https://www.proadprovider.net/Scripts/nitro-popoverscript.js"></script>
	<script>
		var nitroSettings = {
			channelId: 619,
			affId: '741009',
			email: '{Email}',
			fname: '{fname}',
			subId: '{subid}'
		};
  </script>
  <% if (randomizer == 1) { %>
	<script>	
		$('.form-submit').on('click', function(e) {
			successResponseCallback = function() {
				window.location = '/offers';				
			};
			invalidResponseCallback = successResponseCallback;
			e.preventDefault();
			e.stopImmediatePropagation();
			let form = $('#main-form');
			if (form.parsley().isValid() === true) {
				var popover = 'https://www.247dealstracker.com/FFG?sid=616&affid=741006&SubID=' + 
					$('input[name=s2]').val() + 
						'&fname=' +
							$('#first_name').val() + 
								'&email=' +
									$('#email').val() + 
										'&sessionid=&zip=[[zip]]';
				window.open(popover, '_blank');
				processForm();
				return;
			}
			form.parsley().validate();
		});
	</script>
	<% } else { %>
	<script>
		var popOverCallback = function() {
			window.open('/offers', '_blank');
		};
				
		$('.form-submit').on('click', function(e) {
			successResponseCallback = function() {
				window.location = 'https://www.247dealstracker.com/FFG?sid=616&affid=741006&SubID=' + 
					$('input[name=s2]').val() + 
						'&fname=' +
							$('#first_name').val() + 
								'&email=' +
									$('#email').val() + 
										'&sessionid=&zip=[[zip]]';				
			};
			invalidResponseCallback = successResponseCallback;
			e.preventDefault();
			e.stopImmediatePropagation();
			let form = $('#main-form');
			if (form.parsley().isValid() === true) {
				popOverCallback();
				processForm();
				return;
			}
			form.parsley().validate();
		});
	</script>
	<? } ?>
	<script>
		(function() {
			if (window.URLSearchParams && window.atob) {
				var urlParams = new URLSearchParams(window.location.search);
				var dmtid = urlParams.get('_dmutid');
				if (dmtid) {
					var parts = atob(dmtid).split('|');
					if (parts[0] === 'v1' && parts[1] && parts[2]) {	
						var expires = new Date(parts[2] * 1000);
						document.cookie = '_dmtid=' + encodeURIComponent(parts[1]) + '; path=/; expires=' + expires.toUTCString() + '; samesite=lax;';
					}
				}
			}
		})();
	</script>